* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #B7BFF0;
    text-transform: uppercase;
}

#header {
    background-color:#616fcc;
    color: #fcfcfc;
    padding: 10px;
    margin: 0;
    text-align: center;
}

#headBar {
    height: 15px;
    background-color: #4353B4;
    border-top: 3px solid #2637A5;
    border-bottom: 6px solid #2637A5;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px;
}


.section {
    background-color:#B0DBEE;
    border-radius: 8px;
    border: 6px solid #3484A7;
    padding: 20px ;
    color: #272936;
    font-weight:600;
    width: 80vw;
}

.section .entry {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #27425c;
    justify-content: space-around;
}

.prop {
    flex-grow: 1;
    text-align: right;
    flex-basis: 30%;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.value {
    flex-grow: 2;
    flex-basis: 70%;
    padding-top: 8px;
    padding-bottom: 10px;
}

.email.value {
    font-size: smaller;
}

#caMail {
    border: none;
}
.justEma {
    width: 95%;
}
